In [ ]:
import csv
import os
import pandas as pd

student_fp = "../Resources/students_complete.csv"
school_fp = "../Resources/schools_complete.csv"

student_df = pd.read_csv(student_fp)
school_df = pd.read_csv(school_fp)

In [ ]:
student_df.head()

In [ ]:
school_df.head()

In [ ]:
# Finding the total number of students and schools

num_schools = school_df["school_name"].nunique()
num_students = student_df["student_name"].nunique()

print(num_schools)
print(num_students)

In [ ]:
# Finding the total budget for all of the schools

total_budget = school_df['budget'].sum()
print(total_budget)

In [ ]:
# Finding the average math score for all of the students

avg_math_score = round(student_df["math_score"].mean(), 2)
print(str(avg_math_score) + "%")

In [ ]:
# Making a df to look at the students passing math - score over 65%

passing_math_count = student_df.[student_df["math_score"] > 65]

In [81]:
# Percent of students passing math - score over 65%

passing_math_total=passing_math_df['student_name'].nunique()
percent_passing_math = round(passing_math_total/num_students*100, 2)
print(str(percent_passing_math) + "%")

85.17%

In [ ]:
# Making a df to look at the students passing reading - score over 65%

passing_reading_df = student_df.loc[student_df["reading_score"] > 65, ["student_name", "gender", "grade", 'school_name', "reading_score"]]

In [83]:
# Calculating the percentage of students passing reading - score greater than 65%

passing_reading_total = passing_reading_df['student_name'].nunique()
percent_passing_reading = round(passing_reading_total/num_students*100, 2)
print(str(percent_passing_reading) + "%")

94.94%

In [ ]:
# Making a df to look at the students that are passing math and reading - scores greater than 65%

overall_passing_df = student_df.loc[(student_df["reading_score"] > 65) & (student_df["math_score"] > 65), ["student_name", "gender", "grade", 'school_name', "reading_score", "math_score"]]

In [85]:
# Caculating the number of students that are passing math and reading - scores greater than 65%

overall_passing_total = overall_passing_df["student_name"].nunique()
percent_overall_passing = round(overall_passing_total/num_students*100, 2)
print(str(percent_overall_passing) + "%")

81.23%

In [86]:
# Making a DF with a summary of district statitics

district_df = pd.DataFrame({
    "Total Unique Schools": [num_schools],
    "Total Students": [num_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Passing Overall": [percent_overall_passing]
})
district_df

,Total Unique Schools,Total Students,Total Budget,Average Math Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,32715,24649428,78.99,85.17,94.94,81.23

In [88]:
school_df.value_counts()

School ID  school_name            type      size  budget
0          Huang High School      District  2917  1910635    1
1          Figueroa High School   District  2949  1884411    1
2          Shelton High School    Charter   1761  1056600    1
3          Hernandez High School  District  4635  3022020    1
4          Griffin High School    Charter   1468  917500     1
5          Wilson High School     Charter   2283  1319574    1
6          Cabrera High School    Charter   1858  1081356    1
7          Bailey High School     District  4976  3124928    1
8          Holden High School     Charter   427   248087     1
9          Pena High School       Charter   962   585858     1
10         Wright High School     Charter   1800  1049400    1
11         Rodriguez High School  District  3999  2547363    1
12         Johnson High School    District  4761  3094650    1
13         Ford High School       District  2739  1763916    1
14         Thomas High School     Charter   1635  1043130    1
Name: count, dtype: int64

In [ ]:
school_df_copy = school_df.copy()

by_school_df = school_df_copy.set_index('school_name', inplace=True)

by_school_df