In [65]:
# Importing the libraries and creating data frames for the student and school DFs

import csv
import os
import pandas as pd

student_fp = "../Resources/students_complete.csv"
school_fp = "../Resources/schools_complete.csv"

student_df = pd.read_csv(student_fp)
school_df = pd.read_csv(school_fp)

In [66]:
# printing the student_df

student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [67]:
# printing the school_df

school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [68]:
# Finding the total number of students and schools

num_schools = school_df["school_name"].nunique()
num_students = student_df["student_name"].nunique()

print(num_schools)
print(num_students)

15
32715

In [69]:
# Finding the total budget for all of the schools

total_budget = school_df['budget'].sum()
print(total_budget)

24649428

In [70]:
# Finding the average math score for all of the students

avg_math_score = round(student_df["math_score"].mean(), 2)
print(str(avg_math_score) + "%")

78.99%

In [71]:
# Making a df to look at the students passing math - score over 70%

passing_math_df = student_df[student_df["math_score"] > 70]

In [72]:
# Percent of students passing math - score over 65%

passing_math_total=passing_math_count['student_name'].nunique()
percent_passing_math = round(passing_math_total/num_students*100, 2)
print(str(percent_passing_math) + "%")

85.17%

In [73]:
# Making a df to look at the students passing reading - score over 70%

passing_reading_df = student_df[student_df["reading_score"] > 70]

In [74]:
# Calculating the percentage of students passing reading - score greater than 65%

passing_reading_total = passing_reading_df['student_name'].nunique()
percent_passing_reading = round(passing_reading_total/num_students*100, 2)
print(str(percent_passing_reading) + "%")

84.75%

In [75]:
# Making a df to look at the students that are passing math and reading - scores greater than 70%

overall_passing_df = student_df[(student_df["reading_score"] > 70) & (student_df["math_score"] > 70)]

In [76]:
# Caculating the number of students that are passing math and reading - scores greater than 70%

overall_passing_total = overall_passing_df["student_name"].nunique()
percent_overall_passing = round(overall_passing_total/num_students*100, 2)
print(str(percent_overall_passing) + "%")

64.27%

In [77]:
# Making a DF with a summary of district statitics

district_df = pd.DataFrame({
    "Total Unique Schools": [num_schools],
    "Total Students": [num_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Passing Overall": [percent_overall_passing]
})
district_df

,Total Unique Schools,Total Students,Total Budget,Average Math Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,32715,24649428,78.99,85.17,84.75,64.27

In [78]:
school_df.value_counts()

School ID  school_name            type      size  budget
0          Huang High School      District  2917  1910635    1
1          Figueroa High School   District  2949  1884411    1
2          Shelton High School    Charter   1761  1056600    1
3          Hernandez High School  District  4635  3022020    1
4          Griffin High School    Charter   1468  917500     1
5          Wilson High School     Charter   2283  1319574    1
6          Cabrera High School    Charter   1858  1081356    1
7          Bailey High School     District  4976  3124928    1
8          Holden High School     Charter   427   248087     1
9          Pena High School       Charter   962   585858     1
10         Wright High School     Charter   1800  1049400    1
11         Rodriguez High School  District  3999  2547363    1
12         Johnson High School    District  4761  3094650    1
13         Ford High School       District  2739  1763916    1
14         Thomas High School     Charter   1635  1043130    1
Name: count, dtype: int64

In [79]:
# Calculations to summarize key metrics by school

by_school_df = school_df.copy()

# Setting the school name as the index
by_school_df.set_index('school_name', inplace=True)

# Calculating key metrics by school and putting them in new columns
by_school_df["Budget Per Student"] = by_school_df["budget"]/by_school_df["size"]

by_school_df["Average Math Score"] = student_df.groupby("school_name")["math_score"].mean()
by_school_df["Average Reading Score"] = student_df.groupby("school_name")["reading_score"].mean()

by_school_df["Percent Passing Math"] = passing_math_df.groupby("school_name")["student_name"].nunique()/student_df.groupby("school_name")["student_name"].nunique()*100
by_school_df["Percent Passing Reading"] = passing_reading_df.groupby("school_name")["student_name"].nunique()/student_df.groupby("school_name")["student_name"].nunique()*100
by_school_df["Overall Passing"] = overall_passing_df.groupby("school_name")["student_name"].nunique()/student_df.groupby("school_name")["student_name"].nunique()*100

by_school_df

,School ID,type,size,budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing
school_name,,,,,,,,,,
Huang High School,0,District,2917,1910635,655.0,76.629414,81.182722,63.610917,79.181246,50.314906
Figueroa High School,1,District,2949,1884411,639.0,76.711767,81.158020,64.171864,79.002079,50.623701
Shelton High School,2,Charter,1761,1056600,600.0,83.359455,83.725724,89.930955,92.922900,83.544304
Hernandez High School,3,District,4635,3022020,652.0,77.289752,80.934412,65.385470,78.649189,50.810931
Griffin High School,4,Charter,1468,917500,625.0,83.351499,83.816757,89.717046,93.512767,83.781919
Wilson High School,5,Charter,2283,1319574,578.0,83.274201,83.989488,90.969751,93.327402,85.008897
Cabrera High School,6,Charter,1858,1081356,582.0,83.061895,83.975780,89.585605,93.784079,83.969466
Bailey High School,7,District,4976,3124928,628.0,77.048432,81.033963,65.159408,79.662430,51.635757
Holden High School,8,Charter,427,248087,581.0,83.803279,83.814988,90.566038,92.688679,83.962264
Pena High School,9,Charter,962,585858,609.0,83.839917,84.044699,91.727749,92.251309,84.921466
Wright High School,10,Charter,1800,1049400,583.0,83.682222,83.955000,90.353337,93.494111,84.576556
Rodriguez High School,11,District,3999,2547363,637.0,76.842711,80.744686,64.531010,78.344439,50.128139
Johnson High School,12,District,4761,3094650,650.0,77.072464,80.966394,64.616717,78.822001,50.627977
Ford High School,13,District,2739,1763916,644.0,77.102592,80.746258,66.292975,77.690583,51.756353
Thomas High School,14,Charter,1635,1043130,638.0,83.418349,83.848930,90.179123,92.896850,84.249537

In [83]:
# Making a df to organize the schools by the % of students passing overall with greatest at top

top_schools = by_school_df.sort_values(by = 'Overall Passing', ascending = False)
top_schools.head()

,School ID,type,size,budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing
school_name,,,,,,,,,,
Wilson High School,5,Charter,2283,1319574,578.0,83.274201,83.989488,90.969751,93.327402,85.008897
Pena High School,9,Charter,962,585858,609.0,83.839917,84.044699,91.727749,92.251309,84.921466
Wright High School,10,Charter,1800,1049400,583.0,83.682222,83.955000,90.353337,93.494111,84.576556
Thomas High School,14,Charter,1635,1043130,638.0,83.418349,83.848930,90.179123,92.896850,84.249537
Cabrera High School,6,Charter,1858,1081356,582.0,83.061895,83.975780,89.585605,93.784079,83.969466

In [84]:
# Making a df to organize the schools by the % of students passing overall with lowest at top

bottom_schools = by_school_df.sort_values(by = "Overall Passing", ascending = True)
bottom_schools.head()

,School ID,type,size,budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing
school_name,,,,,,,,,,
Rodriguez High School,11,District,3999,2547363,637.0,76.842711,80.744686,64.531010,78.344439,50.128139
Huang High School,0,District,2917,1910635,655.0,76.629414,81.182722,63.610917,79.181246,50.314906
Figueroa High School,1,District,2949,1884411,639.0,76.711767,81.158020,64.171864,79.002079,50.623701
Johnson High School,12,District,4761,3094650,650.0,77.072464,80.966394,64.616717,78.822001,50.627977
Hernandez High School,3,District,4635,3022020,652.0,77.289752,80.934412,65.385470,78.649189,50.810931

In [93]:
# Making a pivot table to organize the percent of students passing math by grade for each school

math_by_grade = student_df.pivot_table(index = 'school_name', columns='grade', values = 'math_score', aggfunc="mean")
math_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [90]:
# Making a pivot table to organize the percent of students passing reading by grade for each school

reading_by_grade = student_df.pivot_table(index = "school_name", columns = "grade", values = "math_score", aggfunc = "sum")
reading_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [108]:
# Creating bins to organize the per student budget for each school into ranges
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Making a new column to store the range values for the per student budget
by_school_df["Spending Ranges (Per Student)"] = pd.cut(by_school_df["Budget Per Student"], spending_bins, labels=spending_labels)

# Sorting the spending ranges and calculating the average score for each spending range
spending_math_scores = by_school_df.groupby("Spending Ranges (Per Student)", observed=True)["Average Math Score"].mean()
spending_reading_scores = by_school_df.groupby("Spending Ranges (Per Student)", observed=True)["Average Reading Score"].mean()
spending_passing_math = by_school_df.groupby("Spending Ranges (Per Student)", observed=True)["Percent Passing Math"].mean()
spending_passing_reading = by_school_df.groupby("Spending Ranges (Per Student)", observed=True)["Percent Passing Reading"].mean()
overall_passing_spending = by_school_df.groupby("Spending Ranges (Per Student)", observed=True)["Overall Passing"].mean()

spending_summary = pd.DataFrame({
    "Math Scores": spending_math_scores,
    "Reading Scores": spending_reading_scores,
    "Passing Math": spending_passing_math,
    "Passing Reading": spending_passing_reading,
    "Overall Passing": overall_passing_spending
})

spending_summary

,Math Scores,Reading Scores,Passing Math,Passing Reading,Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,90.368683,93.323568,84.379296
$585-630,81.899826,83.155286,84.133790,89.587351,75.970861
$630-645,78.518855,81.624473,71.293743,81.983488,59.189432
$645-680,76.997210,81.027843,64.537701,78.884145,50.584605

In [109]:
# Creating bins to organize the school size for each school into ranges
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Making a new column to store the range values for the school size
by_school_df["Total Student Ranges"] = pd.cut(by_school_df["size"], size_bins, labels=size_labels)

# Sorting by the size and calculating the average score for each size
size_math_scores = by_school_df.groupby("Total Student Ranges", observed=True)["Average Math Score"].mean()
size_reading_scores = by_school_df.groupby("Total Student Ranges", observed=True)["Average Reading Score"].mean()
size_passing_math = by_school_df.groupby("Total Student Ranges", observed=True)["Percent Passing Math"].mean()
size_passing_reading = by_school_df.groupby("Total Student Ranges", observed=True)["Percent Passing Reading"].mean()
overall_passing_size = by_school_df.groupby("Total Student Ranges", observed=True)["Overall Passing"].mean()

# Making a new df to look at the school performance scores by the size of school
size_summary = pd.DataFrame({
    "Math Scores": size_math_scores,
    "Reading Scores": size_reading_scores,
    "Passing Math": size_passing_math,
    "Passing Reading": size_passing_reading,
    "Overall Passing": overall_passing_size
})

size_summary

,Math Scores,Reading Scores,Passing Math,Passing Reading,Overall Passing
Total Student Ranges,,,,,
Small (<1000),83.821598,83.929843,91.146893,92.469994,84.441865
Medium (1000-2000),83.374684,83.864438,89.953213,93.322141,84.024356
Large (2000-5000),77.746417,81.344493,68.092264,80.584921,55.113333

In [110]:
# Sorting the type by the school and calculating the average score for each school and type
type_math_scores = by_school_df.groupby("type", observed=True)["Average Math Score"].mean()
type_reading_scores = by_school_df.groupby("type", observed=True)["Average Reading Score"].mean()
type_passing_math = by_school_df.groupby("type", observed=True)["Percent Passing Math"].mean()
type_passing_reading = by_school_df.groupby("type", observed=True)["Percent Passing Reading"].mean()
overall_passing_type = by_school_df.groupby("type", observed=True)["Overall Passing"].mean()

# Making a new df to look at the school performance scores by the type of school
type_summary = pd.DataFrame({
    "Math Scores": type_math_scores,
    "Reading Scores": type_reading_scores,
    "Passing Math": type_passing_math,
    "Passing Reading": type_passing_reading,
    "Overall Passing": overall_passing_type
})

type_summary

,Math Scores,Reading Scores,Passing Math,Passing Reading,Overall Passing
type,,,,,
Charter,83.473852,83.896421,90.378700,93.109762,84.251801
District,76.956733,80.966636,64.824052,78.764567,50.842538